<h2>Celebrity List</h2>

{{#each celebrities}}
<div class="celebrity-box">
    <h3>{{ name }}</h3>
    <p>{{ occupation }}</p>
    <p>{{ catchPhrase }}</p>
    <button>
     <a href="/celebrities/{{_id}}">More about {{ name }}</a>  
    </button> 
    </br>

    <form method= "POST" action="/celebrities/{{_id}}/delete">
    <label for="delete-celebrity" hidden>Delete Celebrity</label>
        <button>Delete</button>
    </form>
</div>  


{{/each}}

<a href="/celebrities/create">Create a Celebrity</a>

