<h2>Movie List</h2>

{{#each movies}}
<div class="celebrity-box">
    <h3>{{ title }}</h3>
    <p>{{ genre }}</p>
    <p>{{ plot }}</p>
    {{!--
    <button>
     <a href="/movies/{{_id}}">More about {{ tite }}</a>  
    </button> 
    </br>
    <form method= "POST" action="/movies/{{_id}}/delete">
    <label for="delete-movie" hidden>Delete Movie</label>
        <button>Delete</button>
    </form>
   --}}
</div>  

{{/each}}

<a href="/movies/create">Create a Movie</a>
